<h1 class="mt-4">Your order has been placed!</h1>
<body>
    <div id="map"></div>
    <div class="marker">Techlife Cafe</div>
    <style>
        .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
    </style>
    <script src="../mapbox/map.js"></script>

</body>
<p class="lead mb-3">Thank you for choosing the Techlife Cafe!</p>
<p class="lead mt-4"><a href="/">Return to Homepage</a> </p>