<h1 class="mt-4">Confirmation</h1>
<p class="lead mb-3">Welcome {{username}}</p>
<p class="lead mb-4">Your order has been successfully placed!</p>
<p class="lead mt-4"><a href="/index">Return to Homepage</a> </p>